.BtnComponent {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  height: 1.4rem;
  line-height: 1.4rem;
  font-size: 0.58rem;
  text-align: center;
  margin-top: 1.8rem;
  color: #fff;
}
.BtnComponent > div {
  flex-grow: 1;
  border: none;
  margin-left: 0.6rem;
  background-color: #4E6CD8;
  border-radius: 0.7rem;
  outline: none;
}
.BtnComponent > div:first-child {
  margin-left: 0;
}
.BtnComponent > div.onlyBtn {
  margin: 0 2.4rem;
}
.bottomBtn {
  position: fixed;
  padding: 0 0.6rem;
  bottom: 0.7rem;
  left: 0;
}
